* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

/* importation police décriture */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');



body {
  background-image: none; 
  background-color: white; 
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 50px;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.background-text {
  position: absolute;
  top: 30%; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 150px; 
  color: rgba(0, 0, 0, 0.1); 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  z-index: -1; 
  white-space: nowrap;
  letter-spacing: 3px; 
}


.cta-button-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.cta-btn {
  background-color: transparent; 
  color: #000; 
  padding: 12px 30px;
  font-size: 12px; 
  border: 1px solid var(--primary-color); 
  border-radius: 25px; 
  cursor: pointer;
  text-transform: uppercase; 
  transition: background-color 0.3s, color 0.3s, transform 0.3s; 

/* Effet au survol du bouton */
.cta-btn:hover {
  background-color: var(--primary-color); 
  color: white; 
}


/* Container du bouton fermer */
.close-container {
  position: absolute;
  top: 30px;
  left: 50px;

  display: flex;
  align-items: center;
  gap: 12px; /* espace entre l’icône et le texte */

  cursor: pointer;
  z-index: 200;
}

/* Style du texte FERMER */
.close-container span {
  font-size: 16px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 500;
  transform: translateY(2px); 
}

/* Effet au survol */
.close-container:hover span,
.close-container:hover i {
  opacity: 0.6;
  transition: 0.2s;
}

/* Icône */
.close-container i {
  color: #000;
}

.destinations-container {
  max-width: 1200px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0 40px;
}

/* ----- TITRES DES CONTINENTS ----- */

.continent h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1px;
  font-weight: 700;
  color: #000;
}

/* ----- LISTES ----- */

.continent ul {
  list-style: none;
  padding-left: 0;
}

.continent li {
  font-size: 14px;
  margin-bottom: 1px;
  color: #000;
}

.continent li:hover {
  color: #555;
  cursor: pointer;
  transition: 0.2s ease;
}

/* ----- RESPONSIVE ----- */

@media (max-width: 900px) {
  .destinations-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .destinations-container {
    grid-template-columns: 1fr;
  }

  .titre-destination {
    font-size: 35px;
  }
}