* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --primary-color: rgb(255, 115, 0);
  --secondary-color: #ffffff;
  --loader-color: rgb(1, 7, 94);
  font-family: 'Montserrat', sans-serif;
}

/* importation police décriture */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


/* Le loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--loader-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  animation: fadeOut 1s forwards; 
  animation-delay: 2s; 

}

#loader h1 {
  color: var(--secondary-color);
  font-size: 2rem;
}

#loader h1 span {
  display: inline-block; 
  
}


body {
  background-image: url('NY.jpg'); 
  background-size: cover; 
  background-position: center center; 
  background-attachment: fixed; 
  position: relative;
  height: 100vh;
  margin: 0;
}


body::before {
  content: "";
  position: fixed;      
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 1;           
}



header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.0001);
  backdrop-filter: blur(3px);
  color: #fff;
  
}
.header-left p {
  text-decoration: none;
  font-size: 10px;
  margin: 0px; 
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.destination-btn {
  background: none; 
  border: none; 
  color: white; 
  font-size: 11px; 
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  text-align: left; 
  font-weight: 500; 
  text-decoration: none; 
}

.destination-btn:hover {
  color: var(--primary-color); 
}

.header-right a {
  color: white; 
  margin-left: 20px; 
  font-size: 22px; 
  transition: color 0.3s ease-in-out;
}

.header-right a:hover {
  color: var(--primary-color); 
}

.header-right a:focus {
  outline: none; 
}

main {
  margin-top: 200px;             
}

.text {
  position: relative;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  color: #fff; 
  text-align: center;
}

.text h1 {
  font-size: 75px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.text span {
  color: var(--primary-color);
}

.text p {
  max-width: 100%;
  margin: 2px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}


.slogan {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #f3f3f3;
  margin: 0 auto 40px auto; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: center;
  max-width: 450px; 
}

.btn {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  display: flex;
  margin-top: 30px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 5px;
}


.search-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-container input {
  width: 100%;           
  max-width: 500px;      
  padding: 15px 20px;
  border-radius: 30px 0 0 30px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.search-container button {
  padding: 0px 25px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: bold;
  transition: 0.3s;
}
.search-container button:hover {
  background-color: rgb(255, 95, 0);
}


.destination-buttons {
  display: flex;             
  flex-wrap: wrap;            
  justify-content: center;    
  margin-top: 30px;           
}


.destination-bton {
  background-color: rgba(255, 115, 0, 0.8); 
  color: white;                           
  border: none;                           
  padding: 10px 20px;                      
  margin: 5px;                             
  border-radius: 25px;                    
  font-size: 14px;                        
  cursor: pointer;                      
  transition: background-color 0.3s;       
}

.destination-bton:hover {
  background-color: rgba(255, 115, 0, 0.6); 
  color: #fff;                            
}


@media (max-width: 600px) {
  .destination-buttons {
    flex-direction: column;             
    align-items: center;                 
  }
}

.center-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px; 
  position: relative;
  z-index: 10;
}

.line {
  border-top: 1px solid #fff; 
  flex-grow: 0.1;  
  margin: 0 15px; 
}

.bar-text {
  color: rgb(255, 255, 255); 
  font-size: 14px; 
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: 2px; 
}

@media (max-width: 768px) {
  .bar-text {
    font-size: 16px; 
  }

  .line {
    margin: 0 10px; 
  }
}

.extra-buttons {
  display: flex;             
  justify-content: center;  
  gap: 20px;                  
  margin-top: 30px;          
}

.extra-btn-container {
  display: flex;                         
  justify-content: center;                
  gap: 20px;                              
  margin-top: 20px;                        
}

.extra-btn {
  background-color: rgba(255, 115, 0, 0.8);  
  color: #fff;                           
  border: none;                          
  padding: 15px 30px;                     
  font-size: 14px;                         
  border-radius: 25px;                     
  cursor: pointer;                       
  transition: background-color 0.3s, transform 0.3s; 
  display: flex;                              
  align-items: center;                       
  gap: 10px;                                
  justify-content: center;
}

.extra-btn i {
  font-size: 20px;                           
}


.extra-btn:hover {
  background-color: rgba(255, 95, 0, 0.6); 
  transform: scale(1.05); 
}

.extra-btn:focus {
  outline: none; 
}

.destination-text {
  font-size: 16px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  margin-bottom: 5px; 
}


.destination-subtext {
  font-size: 12px; 
  font-weight: normal; 
  letter-spacing: 0.5px; 
  opacity: 0.9; 
}

/* - MENU LATERAL - */
#side-menu {
  position: fixed;
  top: 0;
  right: -400px; 
  width: 350px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: right 0.4s ease;
  padding: 30px;
  overflow-y: auto;
}

#side-menu.active {
  right: 0; 
}

#side-menu ul {
  list-style: none;
  margin-top: 40px;
}

#side-menu li {
  margin: 18px 0;
}

#side-menu a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s;
}

#side-menu a:hover {
  color: var(--primary-color);
}

.menu-title {
  margin-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
}


.close-menu {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}


#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 900;
  display: none;
}

#menu-overlay.active {
  display: block;
}

.menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 22px;
  margin-left: 35px;
 
}

.menu-icon:hover {
  color: var(--primary-color);
}


/* ---------------------------------------------------------------------- ANIMATIONS ---------------------------------------------------------------------------------------------*/
/* --icone de chargement--*/
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: rgb(255, 115, 0);
    transform: rotateY(70deg);
    animation-delay: .4s;
  }


@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

/* Animation de disparition (loader)*/
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}