* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --primary-color: rgb(255, 115, 0);
  --secondary-color: #ffffff;
  --loader-color: rgb(1, 7, 94);
  font-family: 'Montserrat', sans-serif;
}

/* importation police décriture */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


/* Le loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--loader-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  animation: fadeOut 3s forwards; 
  animation-delay: 5s; /* temporisation avant disparition */

}

#loader h1 {
  color: var(--secondary-color);
  font-size: 2rem;
}

#loader h1 span {
  display: inline-block; /* nécessaire pour l'animation des points (permet l'utilisation de translateY() */ 
  
}

/* Ajout de l'image de fond à la page */
body {
  background-image: url('NY.jpg'); /* Remplace 'ton-image.jpg' par le chemin de ton image */
  background-size: cover; /* Pour que l'image couvre toute la largeur et la hauteur */
  background-position: center center; /* Centrer l'image */
  background-attachment: fixed; /* Pour que l'image reste fixe lors du défilement */
  position: relative;
  height: 100vh;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;       /* couvre tout l’écran */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* noir avec transparence (0.4 = 40%) */
  z-index: 1;            /* derrière le texte mais devant l’image */
}



header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.0001);
  backdrop-filter: blur(3px);
  color: #fff;
  
}
.header-left p {
  text-decoration: none;
  font-size: 10px;
  margin: 0px; /* Espacement entre les éléments */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Style du bouton pour enlever les bordures et l'apparence par défaut */
.destination-btn {
  background: none; /* Pas de fond */
  border: none; /* Pas de bordure */
  color: white; /* Couleur du texte */
  font-size: 11px; /* Taille du texte */
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  text-align: left; /* Aligner le texte à gauche */
  font-weight: 500; /* Si tu veux enlever le gras */
  text-decoration: none; /* Enlève toute décoration de texte (si tu avais un lien) */
}

.destination-btn:hover {
  color: var(--primary-color); /* Effet au survol */
}

.header-right a {
  color: white; /* Couleur des icônes */
  margin-left: 25px; /* Espacement entre les icônes */
  font-size: 22px; /* Taille des icônes */
  transition: color 0.3s ease-in-out;
}

.header-right a:hover {
  color: var(--primary-color); /* Changer la couleur au survol */
}

.header-right a:focus {
  outline: none; 
}

main {
  margin-top: 120px;             /* Décale ton contenu principal sous le header */
}

.text {
  position: relative;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  color: #fff; /* Texte blanc pour contraster avec le fond */
  text-align: center;
}

.text h1 {
  font-size: 75px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre légère pour le texte */
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.text span {
  color: var(--primary-color);
}

.text p {
  max-width: 100%;
  margin: 2px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Ombre légère pour le texte */
}


.slogan {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #f3f3f3;
  margin: 0 auto 40px auto; /* centrage horizontal */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: center;
  max-width: 450px; /* ✅ largeur visuelle proche du titre*/
}

.btn {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  display: flex;
  margin-top: 30px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 5px;
}

/* Barre de recherche */
.search-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-container input {
  width: 100%;           /* prend toute la largeur du conteneur */
  max-width: 500px;      /* limite la largeur pour correspondre au texte */
  padding: 15px 20px;
  border-radius: 30px 0 0 30px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.search-container button {
  padding: 0px 25px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: bold;
  transition: 0.3s;
}
.search-container button:hover {
  background-color: rgb(255, 95, 0);
}

/* ---------------------------------------------------------------------- ANIMATIONS ---------------------------------------------------------------------------------------------*/
/* --icone de chargement--*/
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }


@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

/* Animation de disparition (loader)*/
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}