body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  color: #111;
}

.close-container {
  position: absolute;
  top: 30px;
  left: 50px;

  display: flex;
  align-items: center;
  gap: 12px; 

  cursor: pointer;
  z-index: 200;
}


.close-container span {
  font-size: 16px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 500;
  transform: translateY(2px); 
}


.close-container:hover span,
.close-container:hover i {
  opacity: 0.6;
  transition: 0.2s;
}

.hero {
  text-align: center;
  margin-top: 40px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 40px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-title,
.sort-title {
  font-size: 12px;
  letter-spacing: 2px;
  color: #666;
  margin-left: 100px
}

.filter-btn {
  padding: 12px 22px;
  border-radius: 30px;
  border: 2px solid black;
  background: white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}

.filter-btn:hover {
  background: #000;
  color: #fff;
}

.arrow {
  font-size: 14px;
  opacity: 0.8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute; 
  top: 45px; 
  left: 0; 
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 10px;
  flex-direction: column;
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.filter-option {
  padding: 12px 16px;
  text-align: left;
  background-color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.filter-option:hover {
  background-color: #f1f1f1;
}

.filter-btn.active {
  background: rgb(0, 0, 0);
  color: white;
  border-color: black;
}

.filter-btn.active:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: black;
}


.filter-btn,
.filter-option,{
  white-space: nowrap; 
}


.trips-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px; 
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}


.trip-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /
  transition: transform 0.3s ease-in-out;
}


.trip-card.paysage {
  grid-column: span 2; 
}

.trip-card.portrait {
  grid-row: span 2; 
}



.trip-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  transition: transform 0.3s ease-in-out;
}

.trip-card.paysage {
  height: 350px;
}

.trip-card.portrait  {
  height: 725px; 
}

.trip-card.carre  {
  height: 350px; 
}

.trip-card:hover .trip-img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  transition: opacity 0.3s ease; 
  opacity: 1; 
}

.overlay:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); 
  transition: opacity 0.001s ease; 
  opacity: 1; 
}


.trip-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)); 
  color: white;
  opacity: 1; 
}


.trip-titre {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}


.trip-soustitre {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 10px;
}
